<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script>
        function productUpdate(){
            document.uploadForm.action="/update";
            document.uploadForm.submit();
        }

        function productDelete(){
            if(confirm("삭제하시겠습니까?")){
                document.uploadForm.action="/delete";
                document.uploadForm.submit();
            }
        }
    </script>
</head>
<body>
<p class="is-size-1 has-text-centered">Product List</p>
<form name="uploadForm" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Name</td>
            <td>
                <input type="text" name="productName" th:value="${dto.productName}">
            </td>
        </tr>
        <tr>
            <td>Price</td>
            <td>
                <input type="number" name="price" th:value="${dto.price}">
            </td>
        </tr>
        <tr>
            <td>Description</td>
            <td>
                <textarea rows="5" cols="60" name="description">[[${dto.description}]]</textarea>
            </td>
        </tr>
        <tr>
            <td>Image</td>
            <td>
                <img th:if="${dto.filename != '-'}" th:src="@{/images/__${dto.filename}__}" >
                <br>
                <input type="file" name="file">
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="hidden" name="productCode" th:value="${dto.productCode}">
                <input type="button" value="update" onclick="productUpdate()">
                <input type="button" value="delete" onclick="productDelete()">
                <input type="button" value="list" onclick="location.href='/'">
            </td>
        </tr>
    </table>
</form>

</body>
</html>